# Secrets
.env

# Database
db/*.db
db/*.db-wal
db/*.db-shm

# ML models
ml/models/*.pkl
ml/models/*.joblib

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Django
*.log
staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
